<section class="advantage">
    <div class="container">
        <div class="title">Чому нам довіряють більше ні <span>40 000</span> людей?</div>
        <ul>
            <li>
                <img src="assets/img/adv-1.png">
                <div class="title">100% безпечно</div>
                <div class="description">
                    Ми Використовуємоо тільки якісне та сертифіковане альпіністське обладнання. Та регулярно перевіряємо його стан.​
                </div>
            </li>
            <li>
                <img src="assets/img/adv-2.png">
                <div class="title">11 років досвіду</div>
                <div class="description">
                    Відмінна репутація та регулярні стрибки в Україні.
                </div>
            </li>
            <li>
                <img src="assets/img/adv-3.png">
                <div class="title">Краща ціна</div>
                <div class="description">
                    Один стрибок всього 500 грн. Тандем-стрибок всього 1200 грн.
                </div>
            </li>
        </ul>
    </div>
</section>
