<section class="advantage">
    <div class="container">
        <div class="title">За 12 років роботи, нам довірили своє життя більше 100 000 людей </span> </div>
        <ul>
            <li>
                <img src="assets/img/adv-1.png">
                <div class="title">100% безпечно</div>
                <div class="description">
                    Ми використовуємо тільки якісне та сертифіковане альпіністське обладнання. Регулярно перевіряємо його стан і оновлюємо.​
                </div>
            </li>
            <li>
                <img src="assets/img/adv-2.png">
                <div class="title">15 років досвіду</div>
                <div class="description">
                    Відмінна репутація та регулярні стрибки в Україні.
                </div>
            </li>
            <li>
                <img src="assets/img/adv-3.png">
                <div class="title">Краща ціна</div>
                <div class="description">
                    Один стрибок - 600 грн.<br> Тандем-стрибок - 1500 грн.
                </div>
            </li>
        </ul>
    </div>
</section>
