<main class="countdown">
    <div class="container">
        <h1>Роуп-Джампинг</h1>
        <h2>Прыжки с верёвкой на пешеходном мосту в Киеве (высота 26 м.)</h2>
    </div>
    <div class="container row">
        <div class="countdown">
            <div class="title">
                Запись на прыжки<br>закрывается через:
            </div>
            <div id="clock"></div>
            <div class="schedule">
                <div class="title">Ближайшие даты прыжков:</div>
                <ul>
                    <li>
                        <div class="date">
                            <span class="day">22</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">23</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">24</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">25</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">26</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">27</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">28</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="day">29</span>
                            <span class="month">сентября</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form">
            <form>
                Form
            </form>
        </div>
    </div>
</main>
