<main class="countdown">
    <div class="container">
        <h1>Роуп-Джампинг</h1>
        <h2>Прыжки с верёвкой на пешеходном мосту в Киеве (высота 26 м.)</h2>
    </div>
    <div class="container row">
        <div class="countdown">
            <div class="title">
                Запись на прыжки<br>закрывается через:
            </div>
            <div id="clock"></div>
            <div class="schedule">
                <div class="title">Ближайшие даты прыжков:</div>
                <ul>
                    {% for day in site.dates %}
                    <li>
                        <div class="date">
                            <span class="day">{{ day | date: "%e" }}</span>
                            <span class="month">
                                {% assign m = day | date: "%-m" %}
                                {% case m %}
                                  {% when '1' %}января
                                  {% when '2' %}февраля
                                  {% when '3' %}марта
                                  {% when '4' %}апреля
                                  {% when '5' %}мая
                                  {% when '6' %}июня
                                  {% when '7' %}июля
                                  {% when '8' %}августа
                                  {% when '9' %}сентября
                                  {% when '10' %}октября
                                  {% when '11' %}ноября
                                  {% when '12' %}декабря
                                {% endcase %}
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form">
            <form>
                <div class="title">Забронировать прыжок</div>
                <div class="description">*Ваши данные не будут переданы третьим лицам.</div>

                <label class="row">
                    <span class="name">Фамилия Имя:</span>
                    <input type="text">
                </label>
                <label class="row">
                    <span class="name">Количество человек:</span>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </label>
                <label class="row">
                    <span class="name">Телефон: *</span>
                    <input type="text">
                </label>
                <label class="row">
                    <span class="name">Комментарий (дата прыжка, или детали бронировки) :</span>
                    <input type="text">
                </label>
                <div class="row application">
                    <button class="btn">Оставить заявку</button>
                </div>
                <div class="row booking">
                    <button class="btn">Забронировать прыжок</button>
                </div>
            </form>
        </div>
    </div>
</main>
