<main class="countdown">
    <div class="container">
        <h1>Роуп-Джампінг</h1>
        <h2>Стрибки з мотузкою на пішохідному мосту в Києві (висота 26 м.)</h2>
    </div>
    <div class="container row">
        <div class="countdown">
            <div class="title">
                Запис на стрибки <br>закривається через:
            </div>
            <div id="clock"></div>
            <div class="schedule">
                <div class="title">Найближчі дати стрибків:</div>
                {% include schedule.html %}
            </div>
        </div>
        <div class="form">
            {% include form_book.html form_name="Бронювання стрибка" id="bookingFormTop" %}
        </div>
    </div>
</main>
