<form class="book" autocomplete="off" id="{{ include.id }}" name="{{ include.form_name }}">
    <div class="title">{{ include.form_name }}</div>
    <div class="description">*Ваші дані не будуть передані іншим лицям.</div>

    <label class="row">
        <span class="name">Прізвище Ім'я:</span>
        <input name="user_name" placeholder="Ваше ім'я" type="text">
    </label>
    <label class="row">
        <span class="name">Телефон: *</span>
        <input name="phone_number" placeholder="0123456789" autocomplete="off" type="text">
    </label>
    <label class="row">
        <span class="name">Коментар:</span>
        <input type="text" name="message">
    </label>
    <div class="row red">
        <button type="submit" name="request" class="btn">Передзвоніть мені</button>
    </div>

</form>

<script type="text/javascript">
$(function () {
    const formId = '#{{ include.id }}';

    $(formId).validate({
        rules: {
            phone_number: {
                required: true,
                digits: true,
                minlength: 7
            }
        },
        submitHandler: processBookForm
    });
})
</script>
