<section class="gifts">
    <ul class="table">
        <li class="gift">
            <div class="title">Нужен оригинальный подарок?</div>
            <img src="assets/img/gift.png">
            <div class="description">
                <b>В наличии есть подарочные сертификаты</b><br>
                <b>Цена:</b><br>
                Одиночный прыжок - <span class="price">300</span> грн.<br>
                Тандем прыжок - <span class="price">600</span> грн. (за двоих)<br>
                Срок действия сертификата до 10.11.2019 г.<br>
                <span class="warn">Возможна отправка в любой город.</span>
            </div>
        </li>
        <li class="certificate">
            <div class="title">- У нас есть подарочный сертификат!</div>
            <img src="assets/img/certificate.png">
            <div class="hint">
                *Так выглядит подарочный сертификат<br>
                (удобная пластиковая карта)
            </div>
            <button class="btn red">Заказать сертификат одиночный 300 грн.</button>
            <button class="btn red">Заказать сертификат тандем 600 грн.</button>
        </li>
    </ul>
</section>
