<section class="gifts">
    <ul class="table">
        <li class="gift">
            <div class="title">Потрібний екстримальний подарунок?</div>
            <img src="assets/img/gift.png">
            <div class="description">
                <b>В наявносі є подарункові сертифікати</b><br>
                <b>Ціна:</b><br>
                Одинарний стрибок - <span class="price">{{site.payment.cert_classic.amount}}</span> грн.<br>
                Тандем-стрибок - <span class="price">{{site.payment.cert_tandem.amount}}</span> грн. (за двох)<br>
                Термін дії сертифіката до {{site.cert_expire_date | date: "%d.%m.%Y"}} г.<br>
                <span class="warn">Відправляємо по всій Україні.</span>
            </div>
        </li>
        <li class="certificate">
            <div class="title">- В нас є подарункові сертифікати!</div>
            <img src="assets/img/certificate.png">
            <div class="hint">
                *Так вигляжає подарунковий сертифікат<br>
                (зручна пластикова карта)
            </div>
            <button class="btn red" data-modal="certFormModalClassic">Замовити сертифікат одиночний {{site.payment.cert_classic.amount}} грн.</button>
            <button class="btn red" data-modal="certFormModalTandem">Замовити сертифікат тандем {{site.payment.cert_tandem.amount}} грн.</button>
        </li>
    </ul>
</section>
