<div class="modal" id="modal_{{include.id}}">
    <!-- Modal content -->
    <div class="modal-content" style="max-width: {{include.width}};">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>

        <div class="modal-body">
            {{include.content}}
        </div>
<!--        <div class="modal-footer">-->
<!--            <h3>Modal Footer</h3>-->
<!--        </div>-->
    </div>
</div>

<script type="text/javascript">
    // Get the modal
    // let modal = document.getElementById("modal_{{include.id}}");
</script>
