<section class="offer">
    <div class="title">Как вы хотите прыгнуть?</div>

    <ul class="table">
        <li>
            <div class="title">
                <div>Одиночный прыжок</div>
                (мост 26 метров)
            </div>
            <img src="assets/img/solo.png">
            <div class="description">
                <p class="head">Классический одиночный прыжок</p>
                <p><b>Высота:</b> 26 метров. (пешеходный мост)</p>
                <p><u>Все системы дублируются.</u></p>
                <p>Максимальный вес 170 кг.</p>
                <p class="price">Цена прыжка <b>{{site.payment.jump_classic.amount}}</b> грн.</p>
            </div>

            <button class="btn green" data-modal="bookingFormModalClassic">Забронировать прыжок</button>
        </li>
        <li>
            <div class="title">
                <div>Тандем прыжок</div>
                (мост 26 метров)
            </div>
            <img src="assets/img/tandem.png">
            <div class="description">
                <p class="head">Тандем прыжок (вдвоем одновременно)</p>
                <p><b>Высота:</b> 26 метров. (пешеходный мост)</p>
                <p><u>Все системы дублируются.</u></p>
                <p>Максимальный вес одного человека 130 кг.</p>
                <p class="price">Цена прыжка <b>{{site.payment.jump_tandem.amount}}</b> грн.</p>
            </div>

            <button class="btn green" data-modal="bookingFormModalTandem">Забронировать прыжок</button>
        </li>
    </ul>
</section>
