<section class="offer">
    <div class="title">Як ви хочете стрибнути?</div>

    <ul class="table">
        <li>
            <div class="title">
                <div>Одинарний стрибок</div>
                (міст 26 метрів)
            </div>
            <img src="assets/img/solo.png">
            <div class="description">
                <p class="head">Класичний одиночний стрибок</p>
                <p><b>Висота:</b> 26 метрів. (пішохідний міст)</p>
                <p><u>Всі системи дублюються.</u></p>
                <p>Максимальна вага 170 кг.</p>
                <p class="price">Ціна стрибка <b>{{site.payment.jump_classic.amount}}</b> грн.</p>
            </div>

            <button class="btn green" data-modal="bookingFormModalClassic">Забронювати стрибок</button>
        </li>
        <li>
            <div class="title">
                <div>Тандем стрибок</div>
                (міст 26 метрів)
            </div>
            <img src="assets/img/tandem.png">
            <div class="description">
                <p class="head">Тандем стрибок (вдвох одночасно)</p>
                <p><b>Висота:</b> 26 метрів. (пішохідний міст)</p>
                <p><u>Всі системи дублюються.</u></p>
                <p>Максимальна вага однієї людини 130 кг.</p>
                <p class="price">Ціна стрибка <b>{{site.payment.jump_tandem.amount}}</b> грн.</p>
            </div>

            <button class="btn green" data-modal="bookingFormModalTandem">Забронювати стрибок</button>
        </li>
    </ul>
</section>
