<div class="scheme">
    <div class="container">
        <div class="title">Схема работы</div>
        <ul class="list">
            <li>
                <img src="assets/img/scheme-phone.png">
                <div class="title">1. Вы звоните или оставляете заявку на сайте.</div>
            </li>
            <li>
                <img src="assets/img/scheme-speak.png">
                <div class="title">2. Менеджер связывается с Вами и подтверждает бронь.</div>
            </li>
            <li>
                <img src="assets/img/scheme-message.png">
                <div class="title">3. Мы отправляем Вам смс с номером брони.</div>
            </li>
            <li>
                <img src="assets/img/scheme-like.svg">
                <div class="title">4. Вы получаете незабываемые эмоции.</div>
            </li>
        </ul>
    </div>
</div>
