<div class="scheme">
    <div class="container">
        <div class="title">Схема работи</div>
        <ul class="list">
            <li>
                <img src="assets/img/scheme-phone.png">
                <div class="title">1. Ви телефонуєте або залишаєте заявку на сайті.</div>
            </li>
            <li>
                <img src="assets/img/scheme-speak.png">
                <div class="title">2. Менеджер з вами з'вяжеться і підтвердить бронювання.</div>
            </li>
            <li>
                <img src="assets/img/scheme-message.png">
                <div class="title">3. Ми відправляємо Вам смс з номером броні.</div>
            </li>
            <li>
                <img src="assets/img/scheme-like.svg">
                <div class="title">4. Ви отримуєте безцінні емоції.</div>
            </li>
        </ul>
    </div>
</div>
