<div class="scheme">
    <div class="container">
        <div class="title">Схема работы</div>
        <ol>
            <li>
                <img src="assets/img/scheme-phone.png">
                <span class="title">Вы звоните или оставляете заявку на сайте.</span>
            </li>
            <li>
                <img src="assets/img/scheme-speak.png">
                <span class="title">Менеджер связывается с Вами и подтверждает бронь.</span>
            </li>
            <li>
                <img src="assets/img/scheme-message.png">
                <span class="title">Мы отправляем Вам смс с номером брони.</span>
            </li>
            <li>
                <img src="assets/img/scheme-like.svg">
                <span class="title">Вы получаете незабываемые эмоции.</span>
            </li>
        </ol>
    </div>
</div>
