<script src="assets/js/flipclock.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/validation_localization_messages_ru.js"></script>
<script type="text/javascript">
    const botToken = '{{ site.telegram_bot_token }}';
    const chat_id = '{{ site.telegram_chatId }}';
    const payment = {{ site.payment | jsonify }};
</script>
<script src="assets/js/site.js"></script>



<script type="text/javascript">
    Data = new Date();
    var time = 86400 - (Data.getHours() * 3600 + Data.getMinutes() * 60 + Data.getSeconds());
    var clock;
    clock = new FlipClock($('#clock'), time, {
        clockFace: 'HourlyCounter', //вид счетчика (с количеством дней)
        autoStart: true,            //Отключаем автозапуск
        countdown: true,            //Отсчет назад
        language: 'ru-ru',           //Локаль языка
        callbacks: {                //Действие после окончания отсчета
            stop: function() {
                clock.setTime(86400);
                clock.setCountdown(true);
                clock.start();
            }
        }
    });
</script>
