@import "normalize";
@import "rouge-github";
@import "variables";
@import "mixins";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";

.container {
  margin: auto;
  
  @include large {
    max-width: $large-breakpoint;
  }
  
  @include medium {
    max-width: $medium-breakpoint;
  }
  
  @include small {
  
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $dark-red;
  font-size: 1.1rem;
  
  .container {
    display: flex;
    justify-content: space-around;
  }
  
  h1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: normal;
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    position: relative;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    top: -.2rem;
  }
  
  .contact {
    padding-top: .5rem;
    .phone {
      color: yellow;
      font-size: 1.2rem;
    }
  }
  
  .social {
    display: flex;
    
    a {
      color: white;
      text-decoration: none;
      font-size: .8rem;
      
      margin: .5rem 1rem;
      
      i {
        color: #400010;
        background-color: white;
        display: block;
        border-radius: 2rem;
        width: 2.1rem;
        height: 2.1rem;
        font-size: 1.6rem;
        padding-top: 0.25rem;
        margin: .3rem auto;
      }
    }
  }
  
  @include large {
    padding: 1rem 0 .5rem;
  }
  
  @include medium {
    padding: 3rem 4rem;
  }
  
  @include small {
    padding: 2rem 1rem;
  }
}


main.countdown {
  background: url(../img/main-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  padding-bottom: 5.4rem;
  position: relative;
  padding-top: 1rem;
  z-index: 5;
  min-height: 20rem;
  text-align: center;
  color: white;
  
  .container {
    position: relative;
    z-index: 3;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }
  
  h2 {
    font-size: 1.1rem;
    font-weight: normal;
  }
  
  .row {
    display: flex;
    
    & > * {
      flex-grow: 1;
      width: 50%;
    }
  
    .countdown {
      padding-top: 12.5rem;
      
      .title {
        font-size: 1.2rem;
        line-height: 1.1;
        font-weight: bold;
      }
  
      #clock {
        transform: scale(.7);
        margin: 0;
  
        .flip-clock-label {
          top: 6.5rem;
          color: #fff;
          font-size: 1.34rem;
        }
  
        .inn {
          background-color: #fff;
          color: #000;
        }
      }
      
      .schedule {
        margin-top: 1rem;
        
        .title {
          font-weight: bold;
          font-size: 1.8rem;
        }
        
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          
          li {
            flex-basis: 25%;
            position: relative;
            margin-bottom: 1rem;
            
           .date {
             line-height: 1.1;
             user-select: none;
             width: 5.625rem;
             height: 6rem;
             position: relative;
             font-family: 'Teko', sans-serif;
             font-size: 3.7rem;
             padding-top: 20px;
             background: url(../img/calendar.svg) no-repeat;
             background-size: contain;
             
             & > * {
               display: block;
             }
             
             .month {
               font-size: .9rem;
               font-weight: bold;
               color: #a9e223;
               position: relative;
               bottom: 12px;
             }
           }
          }
        }
      }
    }
  }
  

}
