<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-ru-RU" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.min.js"><\/script>')</script>
      <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="preload" href="https://fonts.gstatic.com/s/teko/v9/LYjNdG7kmE0gfaN9pQ.woff2" as="font" crossorigin>
    <style>
      @font-face {
        font-family: 'Teko';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Teko Regular'), local('Teko-Regular'), url(https://fonts.gstatic.com/s/teko/v9/LYjNdG7kmE0gfaN9pQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/flipclock.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    {% include countdown.html %}
    {% include advantage.html %}

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    {% include scheme.html %}
    {% include map.html %}

    {% include scripts.html %}

    <!-- Form modal_jump_classic -->
    {% capture modal_jump_classic %}
        {% include form_book.html
            form_name="Бронирование классического прыжка"
            pay_type='jump_classic'
            id="bookingFormModalClassic"
        %}
    {% endcapture %}

    {% include modal.html content=modal_jump_classic width='28rem' id="bookingFormModalClassic" %}

    <!-- Form modal_jump_tandem -->
    {% capture modal_jump_tandem %}
        {% include form_book.html
            form_name="Бронирование тандем прыжка"
            pay_type='modal_jump_tandem'
            id="bookingFormModalTandem"
        %}
    {% endcapture %}

    {% include modal.html content=modal_jump_tandem width='28rem' id="bookingFormModalTandem" %}

    <!-- Form modal_cert_classic -->
    {% capture modal_cert_classic %}
    {% include form_book.html
    form_name="Заказ сертификата на классический прыжок"
    pay_type='cert_classic'
    id="certFormModalClassic"
    %}
    {% endcapture %}

    {% include modal.html content=modal_cert_classic width='28rem' id="certFormModalClassic" %}

    <!-- Form modal_cert_tandem -->
    {% capture modal_cert_tandem %}
    {% include form_book.html
    form_name="Заказ сертификата на тандем прыжок"
    pay_type='modal_cert_tandem'
    id="certFormModalTandem"
    %}
    {% endcapture %}

    {% include modal.html content=modal_cert_tandem width='28rem' id="certFormModalTandem" %}


    <!-- Form modal_call_me -->
    {% capture modal_call_me %}
    {% include form_call_me.html
    form_name="Перезвоните мне"
    id="callMeFormModal"
    %}
    {% endcapture %}

    {% include modal.html content=modal_call_me width='28rem' id="callMeFormModal" %}
  </body>
</html>
